body{
    min-height: 100vh;
    margin: auto;
    background-image: url(https://images.hdqwalls.com/wallpapers/chrome-os-afloat-36.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #5f5959;
    background-position: center center;
    text-align: center;
    font-family: 'Macondo', cursive;
    color: antiquewhite;
    text-shadow: 2px 2px #2a2a2a;
}

.img {  
    /*Creamos al clase imágen */
    border-radius:  1000cm;      /*Borde redondeado con tamaño*/
    border-color: #027c27;   /*Color del borde en la foto*/
    border-style: initial;      /*Estilo de borde en la foto*/ 
}

.tm{
    padding-top: 6%;
}

.shadow{
    box-shadow: violet;
}

.logo {
    padding: 10px 0 0 0;
}

.topnav {
    overflow: hidden;
    background-color: #2a2a2a;
}

.topnav a {
color: #afa7a7;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
color: #add300;
}

.topnav a.active {
background-color: #add300;
color: #C7E7F1;
}
.bottomTxt {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5px;"
}